megaTravelAppBack/src/main/resources/accomondation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ftn.com/webservice"
           targetNamespace="http://ftn.com/webservice" elementFormDefault="qualified">

    <xs:element name="RegisterAccomodationRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element name="accomodation" type="tns:accomodationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RegisterAccomodationResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="accomodationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteAccomodationRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element name="deleteAccomodationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteAccomodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deletedAccomodationId" type="xs:long"/>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="EditAccomodationRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element name="editAccomodationId" type="xs:long"/>
                <xs:element name="editAccomodationData" type="tns:accomodationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="EditAccomodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="editedAccomodation" type="tns:accomodationSoap"/>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAccomodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestedAccomodationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAccomodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="returnedAccomodation" type="tns:accomodationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAccomodationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
                <xs:element name="agentId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAccomodationsResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="accomodationsList" maxOccurs="unbounded" type="tns:accomodationSoap" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAdditionalServicesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAdditionalServicesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response" type="xs:string"/>
                <xs:element name="additionalServicesList" maxOccurs="unbounded" type="tns:additionalServicesSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAccomodationTypesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAccomodationTypesResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="accomodationTypesList" maxOccurs="unbounded" type="tns:typeAccomodationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
        <xs:element name="GetAllCategoriesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllCategoriesResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="categoriesList" maxOccurs="unbounded" type="tns:categorySoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllCitiesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllCitiesResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="citieslist" maxOccurs="unbounded" type="tns:citySoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAccomodationRoomsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
                <xs:element name="accomodationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAccomodationRoomsResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="roomslist" maxOccurs="unbounded" type="tns:roomSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAgentsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAgentsResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="agentslist" maxOccurs="unbounded" type="tns:agentSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllCountriesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllCountriesResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="countrieslist" maxOccurs="unbounded" type="tns:countrySoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="RegisterRoomRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
            	<xs:element name="accomodationId" type="xs:long"/>
                <xs:element name="room" type="tns:roomSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RegisterRoomResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="roomId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="CreatePriceListRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element name="priceList" maxOccurs="unbounded" type="tns:priceSoap"/>
                <xs:element name="roomId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreatePriceListResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="priceListWithId" maxOccurs="unbounded" type="tns:priceSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetRoomPricesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
                <xs:element name="roomId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetRoomPricesResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="priceslist" maxOccurs="unbounded" type="tns:priceSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteRoomRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element name="accomodationId" type="xs:long"/>
                <xs:element name="roomId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteRoomResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accomodationId" type="xs:long"/>
                <xs:element name="deletedRoomId" type="xs:long"/>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="EditRoomRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element name="accomodationId" type="xs:long"/>
                <xs:element name="roomId" type="xs:long"/>
                <xs:element name="editRoomData" type="tns:roomSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="EditRoomResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="accomodationId" type="xs:long"/>
                <xs:element name="editedRoom" type="tns:roomSoap"/>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="accomodationSoap">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" nillable="true"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="city"  type="tns:citySoap"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="typeAccomodation" type="tns:typeAccomodationSoap"/>
            <xs:element name="category" type="tns:categorySoap"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="pic" type="xs:string"/>
            <xs:element name="rooms" maxOccurs="unbounded" type="tns:roomSoap"/>
            <xs:element name="additionalServices" maxOccurs="unbounded" type="tns:additionalServicesSoap"/>
            <xs:element name="agent" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="citySoap">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" nillable="true"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="country" type="tns:countrySoap"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="countrySoap">
        <xs:sequence>
      	    <xs:element name="id" type="xs:long" nillable="true"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="typeAccomodationSoap">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" nillable="true"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
     <xs:complexType name="categorySoap">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" nillable="true"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="additionalServicesSoap">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" nillable="true"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="roomSoap">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" nillable="true"/>
            <xs:element name="capacity" type="xs:int"/>
            <xs:element name="floor" type="xs:int"/>
            <xs:element name="hasBalcony" type="xs:boolean"/>
            <xs:element name="active" type="xs:boolean"/>
            <xs:element name="day" type="xs:int"/>
            <xs:element name="reserved" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="priceSoap">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" nillable="true"/>
            <xs:element name="room" type="tns:roomSoap"/>
            <xs:element name="month" type="xs:string"/>
            <xs:element name="price" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="agentSoap">
        <xs:sequence>
       		<xs:element name="id" type="xs:long" nillable="true"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="mbr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    
    
</xs:schema>