agentBack/src/main/resources/wsdl/accomondation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ftn.com/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ftn.com/webservice-accomondation" targetNamespace="http://ftn.com/webservice-accomondation">
  <wsdl:types>
    <xs:schema xmlns:tns="http://ftn.com/webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ftn.com/webservice">

    <xs:element name="RegisterAccomodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accomondation" type="tns:accomodationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RegisterAccomodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteAccomodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deleteAccomodationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteAccomodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deletedAccomodationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="accomodationSoap">
        <xs:sequence>
        	<xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="city" type="tns:citySoap"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="typeAccomodation" type="tns:typeAccomodationSoap"/>
            <xs:element name="category" type="tns:categorySoap"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="capacity" type="xs:int"/>
            <xs:element name="pic" type="xs:string"/>
            <xs:element name="agent" type="tns:agentSoap"/>
            
            <!-- lista dodatnih usluga -->    
            <!-- agent -->  
            
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="citySoap">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="country" type="tns:countrySoap"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="countrySoap">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="typeAccomodationSoap">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
     <xs:complexType name="categorySoap">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="agentSoap">
        <xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="mbr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="DeleteAccomodationResponse">
    <wsdl:part element="sch:DeleteAccomodationResponse" name="DeleteAccomodationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterAccomodationResponse">
    <wsdl:part element="sch:RegisterAccomodationResponse" name="RegisterAccomodationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteAccomodationRequest">
    <wsdl:part element="sch:DeleteAccomodationRequest" name="DeleteAccomodationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterAccomodationRequest">
    <wsdl:part element="sch:RegisterAccomodationRequest" name="RegisterAccomodationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccomondationPort">
    <wsdl:operation name="DeleteAccomodation">
      <wsdl:input message="tns:DeleteAccomodationRequest" name="DeleteAccomodationRequest">
    </wsdl:input>
      <wsdl:output message="tns:DeleteAccomodationResponse" name="DeleteAccomodationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAccomodation">
      <wsdl:input message="tns:RegisterAccomodationRequest" name="RegisterAccomodationRequest">
    </wsdl:input>
      <wsdl:output message="tns:RegisterAccomodationResponse" name="RegisterAccomodationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccomondationPortSoap11" type="tns:AccomondationPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DeleteAccomodation">
      <soap:operation soapAction=""/>
      <wsdl:input name="DeleteAccomodationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteAccomodationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAccomodation">
      <soap:operation soapAction=""/>
      <wsdl:input name="RegisterAccomodationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RegisterAccomodationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccomondationPortService">
    <wsdl:port binding="tns:AccomondationPortSoap11" name="AccomondationPortSoap11">
      <soap:address location="https://localhost:8443/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>