agentBack/src/main/resources/wsdl/accomondation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ftn.com/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ftn.com/webservice-accomondation" targetNamespace="http://ftn.com/webservice-accomondation">
  <wsdl:types>
    <xs:schema xmlns:tns="http://ftn.com/webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ftn.com/webservice">

    <xs:element name="RegisterAccomodationRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element name="accomodation" type="tns:accomodationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RegisterAccomodationResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="accomodationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteAccomodationRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element name="deleteAccomodationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteAccomodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deletedAccomodationId" type="xs:long"/>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="EditAccomodationRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element name="editAccomodationId" type="xs:long"/>
                <xs:element name="editAccomodationData" type="tns:accomodationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="EditAccomodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="editedAccomodation" type="tns:accomodationSoap"/>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAccomodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestedAccomodationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAccomodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="returnedAccomodation" type="tns:accomodationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAccomodationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
                <xs:element name="agentId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAccomodationsResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="accomodationsList" type="tns:accomodationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAdditionalServicesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAdditionalServicesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="additionalServicesList" type="tns:additionalServicesSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAccomodationTypesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAccomodationTypesResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="accomodationTypesList" type="tns:typeAccomodationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
        <xs:element name="GetAllCategoriesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllCategoriesResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="categoriesList" type="tns:categorySoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllCitiesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllCitiesResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="citieslist" type="tns:citySoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAccomodationRoomsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
                <xs:element name="accomodationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAccomodationRoomsResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="roomslist" type="tns:roomSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAgentsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllAgentsResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="agentslist" type="tns:agentSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllCountriesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllCountriesResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="countrieslist" type="tns:countrySoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="RegisterRoomRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
            	<xs:element name="accomodationId" type="xs:long"/>
                <xs:element name="room" type="tns:roomSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RegisterRoomResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="roomId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="CreatePriceListRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="priceList" type="tns:priceSoap"/>
                <xs:element name="roomId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreatePriceListResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="priceListWithId" type="tns:priceSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetRoomPricesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
                <xs:element name="roomId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetRoomPricesResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="priceslist" type="tns:priceSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteRoomRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element name="accomodationId" type="xs:long"/>
                <xs:element name="roomId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteRoomResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accomodationId" type="xs:long"/>
                <xs:element name="deletedRoomId" type="xs:long"/>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="EditRoomRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
                <xs:element name="accomodationId" type="xs:long"/>
                <xs:element name="roomId" type="xs:long"/>
                <xs:element name="editRoomData" type="tns:roomSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="EditRoomResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="accomodationId" type="xs:long"/>
                <xs:element name="editedRoom" type="tns:roomSoap"/>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetRoomRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestedRoomId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetRoomResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="returnedRoom" type="tns:roomSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllReservationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
                <xs:element name="agentId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllReservationsResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="reservationsList" type="tns:reservationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllUsersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllUsersResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="userslist" type="tns:userSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllRolesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllRolesResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="rolelist" type="tns:roleSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllPermissionsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllPermissionsResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="permissionslist" type="tns:permissionSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
     <xs:element name="ConfirmReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
                <xs:element name="reservationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ConfirmReservationResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllReservationsAgentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
                <xs:element name="agentId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetAllReservationsAgentResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="reservationsList" type="tns:reservationAgentSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="CreateReservationAgentRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="request" type="xs:string"/>
            	<xs:element name="reservationAgent" type="tns:reservationAgentSoap"/>
                <xs:element name="roomId" type="xs:long"/>
                <xs:element name="agentId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateReservationAgentResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="response" type="xs:string"/>
                <xs:element name="reservationAgentId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="accomodationSoap">
        <xs:sequence>
        	<xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="city" type="tns:citySoap"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="typeAccomodation" type="tns:typeAccomodationSoap"/>
            <xs:element name="category" type="tns:categorySoap"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="pic" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="rooms" type="tns:roomSoap"/>
            <xs:element maxOccurs="unbounded" name="additionalServices" type="tns:additionalServicesSoap"/>
            <xs:element name="agent" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="citySoap">
        <xs:sequence>
        	<xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="country" type="tns:countrySoap"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="countrySoap">
        <xs:sequence>
      	    <xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="typeAccomodationSoap">
        <xs:sequence>
        	<xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
     <xs:complexType name="categorySoap">
        <xs:sequence>
        	<xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="additionalServicesSoap">
        <xs:sequence>
        	<xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="roomSoap">
        <xs:sequence>
        	<xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="capacity" type="xs:int"/>
            <xs:element name="floor" type="xs:int"/>
            <xs:element name="hasBalcony" type="xs:boolean"/>
            <xs:element name="active" type="xs:boolean"/>
            <xs:element name="day" type="xs:int"/>
            <xs:element name="reserved" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="priceSoap">
        <xs:sequence>
        	<xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="room" type="tns:roomSoap"/>
            <xs:element name="month" type="xs:string"/>
            <xs:element name="price" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="agentSoap">
        <xs:sequence>
       		<xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="mbr" type="xs:string"/>
            <xs:element name="enabled" type="xs:boolean"/>
            <xs:element name="nonLocked" type="xs:boolean"/>
            <xs:element maxOccurs="unbounded" name="agentRoles" type="tns:roleSoap"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="reservationSoap">
        <xs:sequence>
        	<xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="fromDate" type="xs:date"/>
            <xs:element name="toDate" type="xs:date"/>
            <xs:element name="room" type="tns:roomSoap"/>
            <xs:element name="user" type="tns:userSoap"/>
            <xs:element name="agent" type="tns:agentSoap"/>
            <xs:element name="confirmed" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="userSoap">
        <xs:sequence>
       		<xs:element name="id" nillable="true" type="xs:long"/>
       		<xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="clientStatus" type="tns:clientStatus"/>
            <xs:element name="enabled" type="xs:boolean"/>
            <xs:element name="nonLocked" type="xs:boolean"/>
            <xs:element maxOccurs="unbounded" name="roles" type="tns:roleSoap"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="roleSoap">
        <xs:sequence>
       		<xs:element name="id" nillable="true" type="xs:long"/>
       		<xs:element name="name" type="tns:nameRole"/>
       		<xs:element maxOccurs="unbounded" name="permissions" type="tns:permissionSoap"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="permissionSoap">
        <xs:sequence>
       		<xs:element name="id" nillable="true" type="xs:long"/>
       		<xs:element name="name" type="xs:string"/>
       	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="reservationAgentSoap">
        <xs:sequence>
        	<xs:element name="id" nillable="true" type="xs:long"/>
            <xs:element name="fromDate" type="xs:date"/>
            <xs:element name="toDate" type="xs:date"/>
            <xs:element name="room" type="tns:roomSoap"/>
            <xs:element name="agent" type="tns:agentSoap"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType final="restriction" name="clientStatus">
    	<xs:restriction base="xs:string">
        	<xs:enumeration value="AKTIVAN"/>
        	<xs:enumeration value="NEAKTIVAN"/>
        	<xs:enumeration value="BLOKIRAN"/>
        	<xs:enumeration value="UKLONJEN"/>
    	</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType final="restriction" name="nameRole">
    	<xs:restriction base="xs:string">
        	<xs:enumeration value="ROLE_ADMIN"/>
        	<xs:enumeration value="ROLE_USER"/>
        	<xs:enumeration value="ROLE_AGENT"/>
    	</xs:restriction>
	</xs:simpleType>
    
    
    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="EditRoomRequest">
    <wsdl:part element="sch:EditRoomRequest" name="EditRoomRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccomodationRoomsResponse">
    <wsdl:part element="sch:GetAccomodationRoomsResponse" name="GetAccomodationRoomsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EditAccomodationRequest">
    <wsdl:part element="sch:EditAccomodationRequest" name="EditAccomodationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAccomodationsResponse">
    <wsdl:part element="sch:GetAllAccomodationsResponse" name="GetAllAccomodationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAdditionalServicesResponse">
    <wsdl:part element="sch:GetAllAdditionalServicesResponse" name="GetAllAdditionalServicesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccomodationRoomsRequest">
    <wsdl:part element="sch:GetAccomodationRoomsRequest" name="GetAccomodationRoomsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteRoomResponse">
    <wsdl:part element="sch:DeleteRoomResponse" name="DeleteRoomResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAdditionalServicesRequest">
    <wsdl:part element="sch:GetAllAdditionalServicesRequest" name="GetAllAdditionalServicesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateReservationAgentResponse">
    <wsdl:part element="sch:CreateReservationAgentResponse" name="CreateReservationAgentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllPermissionsRequest">
    <wsdl:part element="sch:GetAllPermissionsRequest" name="GetAllPermissionsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreatePriceListRequest">
    <wsdl:part element="sch:CreatePriceListRequest" name="CreatePriceListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllCountriesRequest">
    <wsdl:part element="sch:GetAllCountriesRequest" name="GetAllCountriesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreatePriceListResponse">
    <wsdl:part element="sch:CreatePriceListResponse" name="CreatePriceListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllCitiesRequest">
    <wsdl:part element="sch:GetAllCitiesRequest" name="GetAllCitiesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterAccomodationRequest">
    <wsdl:part element="sch:RegisterAccomodationRequest" name="RegisterAccomodationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAgentsResponse">
    <wsdl:part element="sch:GetAllAgentsResponse" name="GetAllAgentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteRoomRequest">
    <wsdl:part element="sch:DeleteRoomRequest" name="DeleteRoomRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteAccomodationResponse">
    <wsdl:part element="sch:DeleteAccomodationResponse" name="DeleteAccomodationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterRoomRequest">
    <wsdl:part element="sch:RegisterRoomRequest" name="RegisterRoomRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConfirmReservationResponse">
    <wsdl:part element="sch:ConfirmReservationResponse" name="ConfirmReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAccomodationTypesRequest">
    <wsdl:part element="sch:GetAllAccomodationTypesRequest" name="GetAllAccomodationTypesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllReservationsResponse">
    <wsdl:part element="sch:GetAllReservationsResponse" name="GetAllReservationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConfirmReservationRequest">
    <wsdl:part element="sch:ConfirmReservationRequest" name="ConfirmReservationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateReservationAgentRequest">
    <wsdl:part element="sch:CreateReservationAgentRequest" name="CreateReservationAgentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllCitiesResponse">
    <wsdl:part element="sch:GetAllCitiesResponse" name="GetAllCitiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllReservationsRequest">
    <wsdl:part element="sch:GetAllReservationsRequest" name="GetAllReservationsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccomodationRequest">
    <wsdl:part element="sch:GetAccomodationRequest" name="GetAccomodationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EditAccomodationResponse">
    <wsdl:part element="sch:EditAccomodationResponse" name="EditAccomodationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterRoomResponse">
    <wsdl:part element="sch:RegisterRoomResponse" name="RegisterRoomResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAccomodationTypesResponse">
    <wsdl:part element="sch:GetAllAccomodationTypesResponse" name="GetAllAccomodationTypesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetRoomResponse">
    <wsdl:part element="sch:GetRoomResponse" name="GetRoomResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllCountriesResponse">
    <wsdl:part element="sch:GetAllCountriesResponse" name="GetAllCountriesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetRoomPricesResponse">
    <wsdl:part element="sch:GetRoomPricesResponse" name="GetRoomPricesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetRoomRequest">
    <wsdl:part element="sch:GetRoomRequest" name="GetRoomRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAgentsRequest">
    <wsdl:part element="sch:GetAllAgentsRequest" name="GetAllAgentsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccomodationResponse">
    <wsdl:part element="sch:GetAccomodationResponse" name="GetAccomodationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EditRoomResponse">
    <wsdl:part element="sch:EditRoomResponse" name="EditRoomResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllReservationsAgentResponse">
    <wsdl:part element="sch:GetAllReservationsAgentResponse" name="GetAllReservationsAgentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteAccomodationRequest">
    <wsdl:part element="sch:DeleteAccomodationRequest" name="DeleteAccomodationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllReservationsAgentRequest">
    <wsdl:part element="sch:GetAllReservationsAgentRequest" name="GetAllReservationsAgentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllPermissionsResponse">
    <wsdl:part element="sch:GetAllPermissionsResponse" name="GetAllPermissionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetRoomPricesRequest">
    <wsdl:part element="sch:GetRoomPricesRequest" name="GetRoomPricesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllCategoriesRequest">
    <wsdl:part element="sch:GetAllCategoriesRequest" name="GetAllCategoriesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAccomodationsRequest">
    <wsdl:part element="sch:GetAllAccomodationsRequest" name="GetAllAccomodationsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterAccomodationResponse">
    <wsdl:part element="sch:RegisterAccomodationResponse" name="RegisterAccomodationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllUsersRequest">
    <wsdl:part element="sch:GetAllUsersRequest" name="GetAllUsersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllCategoriesResponse">
    <wsdl:part element="sch:GetAllCategoriesResponse" name="GetAllCategoriesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllUsersResponse">
    <wsdl:part element="sch:GetAllUsersResponse" name="GetAllUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllRolesRequest">
    <wsdl:part element="sch:GetAllRolesRequest" name="GetAllRolesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllRolesResponse">
    <wsdl:part element="sch:GetAllRolesResponse" name="GetAllRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccomondationPort">
    <wsdl:operation name="EditRoom">
      <wsdl:input message="tns:EditRoomRequest" name="EditRoomRequest">
    </wsdl:input>
      <wsdl:output message="tns:EditRoomResponse" name="EditRoomResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccomodationRooms">
      <wsdl:input message="tns:GetAccomodationRoomsRequest" name="GetAccomodationRoomsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAccomodationRoomsResponse" name="GetAccomodationRoomsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAccomodation">
      <wsdl:input message="tns:EditAccomodationRequest" name="EditAccomodationRequest">
    </wsdl:input>
      <wsdl:output message="tns:EditAccomodationResponse" name="EditAccomodationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccomodations">
      <wsdl:input message="tns:GetAllAccomodationsRequest" name="GetAllAccomodationsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllAccomodationsResponse" name="GetAllAccomodationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdditionalServices">
      <wsdl:input message="tns:GetAllAdditionalServicesRequest" name="GetAllAdditionalServicesRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllAdditionalServicesResponse" name="GetAllAdditionalServicesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <wsdl:input message="tns:DeleteRoomRequest" name="DeleteRoomRequest">
    </wsdl:input>
      <wsdl:output message="tns:DeleteRoomResponse" name="DeleteRoomResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReservationAgent">
      <wsdl:input message="tns:CreateReservationAgentRequest" name="CreateReservationAgentRequest">
    </wsdl:input>
      <wsdl:output message="tns:CreateReservationAgentResponse" name="CreateReservationAgentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPermissions">
      <wsdl:input message="tns:GetAllPermissionsRequest" name="GetAllPermissionsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllPermissionsResponse" name="GetAllPermissionsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePriceList">
      <wsdl:input message="tns:CreatePriceListRequest" name="CreatePriceListRequest">
    </wsdl:input>
      <wsdl:output message="tns:CreatePriceListResponse" name="CreatePriceListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCountries">
      <wsdl:input message="tns:GetAllCountriesRequest" name="GetAllCountriesRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllCountriesResponse" name="GetAllCountriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <wsdl:input message="tns:GetAllCitiesRequest" name="GetAllCitiesRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllCitiesResponse" name="GetAllCitiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAccomodation">
      <wsdl:input message="tns:RegisterAccomodationRequest" name="RegisterAccomodationRequest">
    </wsdl:input>
      <wsdl:output message="tns:RegisterAccomodationResponse" name="RegisterAccomodationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAgents">
      <wsdl:input message="tns:GetAllAgentsRequest" name="GetAllAgentsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllAgentsResponse" name="GetAllAgentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccomodation">
      <wsdl:input message="tns:DeleteAccomodationRequest" name="DeleteAccomodationRequest">
    </wsdl:input>
      <wsdl:output message="tns:DeleteAccomodationResponse" name="DeleteAccomodationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterRoom">
      <wsdl:input message="tns:RegisterRoomRequest" name="RegisterRoomRequest">
    </wsdl:input>
      <wsdl:output message="tns:RegisterRoomResponse" name="RegisterRoomResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmReservation">
      <wsdl:input message="tns:ConfirmReservationRequest" name="ConfirmReservationRequest">
    </wsdl:input>
      <wsdl:output message="tns:ConfirmReservationResponse" name="ConfirmReservationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccomodationTypes">
      <wsdl:input message="tns:GetAllAccomodationTypesRequest" name="GetAllAccomodationTypesRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllAccomodationTypesResponse" name="GetAllAccomodationTypesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReservations">
      <wsdl:input message="tns:GetAllReservationsRequest" name="GetAllReservationsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllReservationsResponse" name="GetAllReservationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccomodation">
      <wsdl:input message="tns:GetAccomodationRequest" name="GetAccomodationRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAccomodationResponse" name="GetAccomodationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <wsdl:input message="tns:GetRoomRequest" name="GetRoomRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetRoomResponse" name="GetRoomResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoomPrices">
      <wsdl:input message="tns:GetRoomPricesRequest" name="GetRoomPricesRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetRoomPricesResponse" name="GetRoomPricesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReservationsAgent">
      <wsdl:input message="tns:GetAllReservationsAgentRequest" name="GetAllReservationsAgentRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllReservationsAgentResponse" name="GetAllReservationsAgentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input message="tns:GetAllCategoriesRequest" name="GetAllCategoriesRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllCategoriesResponse" name="GetAllCategoriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersRequest" name="GetAllUsersRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllUsersResponse" name="GetAllUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input message="tns:GetAllRolesRequest" name="GetAllRolesRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllRolesResponse" name="GetAllRolesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccomondationPortSoap11" type="tns:AccomondationPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EditRoom">
      <soap:operation soapAction=""/>
      <wsdl:input name="EditRoomRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="EditRoomResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccomodationRooms">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAccomodationRoomsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccomodationRoomsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAccomodation">
      <soap:operation soapAction=""/>
      <wsdl:input name="EditAccomodationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="EditAccomodationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccomodations">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllAccomodationsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllAccomodationsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdditionalServices">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllAdditionalServicesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllAdditionalServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <soap:operation soapAction=""/>
      <wsdl:input name="DeleteRoomRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteRoomResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReservationAgent">
      <soap:operation soapAction=""/>
      <wsdl:input name="CreateReservationAgentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateReservationAgentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPermissions">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllPermissionsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllPermissionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePriceList">
      <soap:operation soapAction=""/>
      <wsdl:input name="CreatePriceListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreatePriceListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCountries">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllCountriesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllCountriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllCitiesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllCitiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAccomodation">
      <soap:operation soapAction=""/>
      <wsdl:input name="RegisterAccomodationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RegisterAccomodationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAgents">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllAgentsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllAgentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccomodation">
      <soap:operation soapAction=""/>
      <wsdl:input name="DeleteAccomodationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteAccomodationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterRoom">
      <soap:operation soapAction=""/>
      <wsdl:input name="RegisterRoomRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RegisterRoomResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmReservation">
      <soap:operation soapAction=""/>
      <wsdl:input name="ConfirmReservationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ConfirmReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccomodationTypes">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllAccomodationTypesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllAccomodationTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReservations">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllReservationsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllReservationsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccomodation">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAccomodationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccomodationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetRoomRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetRoomResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoomPrices">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetRoomPricesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetRoomPricesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReservationsAgent">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllReservationsAgentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllReservationsAgentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllCategoriesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllCategoriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllUsersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllRolesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccomondationPortService">
    <wsdl:port binding="tns:AccomondationPortSoap11" name="AccomondationPortSoap11">
      <soap:address location="https://localhost:8443/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>